{% load static %}
<section class="brand_info d-flex h-100">
    <div class="brand_info-block d-flex flex-column justify-content-center">
        <h3 class="brand_info-title">BRAND</h3>
        <p class="brand_info-desc">British watch brand Totembo was launched in 1966 and now offers an expansive
            collection of innovative designs. Sekonda watches draw on high quality movements and materials, such as
            stainless steel and real leather to create durable and vintage inspired analogue timepieces, offset with
            Sekonda's more playful line of colour-pop finishes and bold sports watches with oversized dials.</p>
    </div>
    <div class="brand_info-img">
        <img class="img-fluid" src="{% static 'store/images/brand_info-img.png' %}" alt="">
    </div>
</section>