{% load store_tags %}
{% get_categories as categories %}
<div class="owl-carousel">
        <div class="owl-carousel_block">
            <h3 class="owl-carousel_block-title">You may also like</h3>
        </div>
        {% for category in categories %}
            <div class="owl-carousel_block owl-carousel_block-bg">
            <div class="owl-carousel_block-content">
                <img src="{{ category.get_image }}" alt="">
            </div>
            <a href="" class="owl-carousel_block-hover">
                <p class="owl-carousel_block-desc">{{ category.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>