{% load static %}
<div class="blocks_guarantees">
            <div class="row justify-content-around">
                <div class="col-auto">
                    <div class="blocks_guarantees-card d-flex align-items-center">
                        <img src="{% static 'store/images/icons/shipping_icon.svg' %}" alt="">
                        <p class="blocks_guarantees-desc mt-auto mb-auto">Free shipping</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="blocks_guarantees-card d-flex align-items-center">
                        <img src="{% static 'store/images/icons/calendar_icon.svg' %}" alt="">
                        <p class="blocks_guarantees-desc mt-auto mb-auto">30 days return</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="blocks_guarantees-card d-flex align-items-center mt-3 mt-md-0">
                        <img src="{% static 'store/images/icons/warranty_icon.svg' %}" alt="">
                        <p class="blocks_guarantees-desc mt-auto mb-auto">Two year warranty</p>
                    </div>
                </div>
            </div>
        </div>