{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}



{% block main %}
<main>
    <!-- BLOCKS GUARANTEES START -->
    <div class="container">
        {% include 'store/components/_guarantees.html' %}
    </div>
    <!-- BLOCKS GUARANTEES START -->
    {% for category in categories %}
    <section class="products-section products_section-watches">
        <!-- SECTION QUARTZ EDITION START -->
        <h2 class="main_title text-center">{{ category.title }}</h2>

        {% for cat in category.subcategories.all %}
        <div class="container">
            <h2 class="main_title text-center">{{ cat.title }}</h2>
            <div class="row">
                {% for product in cat.products.all %}
                    {% include 'store/components/_product_card.html' %}
                {% empty %}
                <h6 class="h3" align="center">Товаров данной категории сейчас нет</h6>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <!-- SECTION QUARTZ EDITION END -->

    </section>
    {% endfor %}

    <!-- SLIDER BLOCK START -->
    {% include 'store/components/_categories_carousel.html' %}

    <!-- SLIDER BLOCK END -->

    <!-- BLOCK EMAIL FORM START -->
    {% include 'store/components/_email_form.html' %}

    <!-- BLOCK EMAIL FORM END -->
</main>
{% endblock main %}