{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header_text %}

{% endblock header_text %}


{% block header_poster %}

{% endblock header_poster %}

{% block main %}
<main>
        <section class="product_detail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {% include 'store/components/_product_slider.html' %}

                    </div>
                    <div class="col-md-6">
                        {% include 'store/components/_product_detail_info.html' %}

                        <p class="product_detail-guarantee">30 days return, free shipping</p>
                        <button class="product_detail-buy_btn">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>

        {% include 'store/components/_brand_info.html' %}

        {% include 'store/components/_reviews.html' %}

        {% if request.user.is_authenticated %}
            <div class="container">
                <form action="{% url 'save_review' product.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ review_form.text }}
                    <button class="btn btn-success">Оставить отзыв</button>

                </form>
            </div>
        {% else %}
            <div class="container">
            <h4 class="text-center">
                Отзыв могут оставить только зарегестрированные пользователи.
                <a class="my_a" href="{% url 'login_registration' %}">
                    Войти/Зарегестрироваться
                </a>
            </h4>
            </div>
        {% endif %}

        <div class="recommended_goods">
            <h2 class="product_detail-main-title text-center">You may also like</h2>

            <!-- PRODUCTS BLOCK START -->
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        {% include 'store/components/_product_card.html' %}
                    {% endfor %}

                </div>
            </div>
            <!-- PRODUCTS BLOCK END -->

        </div>


        <!-- BLOCK EMAIL FORM START -->
        {% include 'store/components/_email_form.html' %}
        <!-- BLOCK EMAIL FORM END -->
</main>
{% endblock main %}