{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header_text %}
{% endblock header_text %}

{% block header_poster %}
{% endblock header_poster %}

{% block main %}
<div class="container">
    <div class="content">
        <h2>Оплата прошла успешно! Спасибо за покупку! С вами свяжутся</h2>
        <p>Вы можете продолжить покупки.</p>
        <a href="{% url 'product_list' %}" class="btn btn-success">Вернуться на главную</a>
    </div>
</div>
{% endblock main %}